astroid
streamlit
google-auth
google-auth-oauthlib
google-api-python-client
bs4
requests
apache-airflow
matplotlib
tensorflow
pandasql
pytube
pandas
statsmodels
protobuf
streamlit-option-menu
keras
huggingface_hub
mord
numpy
opencv-python
svgwrite
gunicorn
pytz
wordcloud
pycode
emoji
panel
IPython
pylint
xgboost 
plotly
seaborn
fastparquet
transformers
pyarrow
numba
nltk
scikit-learn
opencv-python
scipy
langdetect
joblib