astroid
streamlit
google-auth
google-auth-oauthlib
google-api-python-client
matplotlib
pandas
protobuf
huggingface_hub
numpy
opencv-python
svgwrite
gunicorn
wordcloud
pycode
emoji
panel
IPython
pylint
plotly
seaborn
fastparquet
transformers
pyarrow
numba
nltk
scikit-learn
opencv-python
scipy
langdetect
joblib