body {
    background-color: lightblue;
}

.stTextInput> div>div>input {
    background-color: #d9d9d9;
    font-family: 'Tahoma', sans-serif;
    color: black;
/*     position: relative;
    bottom: 50px; */
}


div[data-baseweb="select"] > div {
    color: #0f0f0f;
}

/* 
.file_input span.css-1y4s9kj, .file_input span.css-gohu2u, .file_input span.css-dv0z3m {
        color: red !important;
    } */