astroid
google-auth
google-auth-oauthlib
google-api-python-client
matplotlib
pandas
numpy
opencv-python
wordcloud
google-api-python-client
panel
IPython
pylint
plotly
seaborn
fastparquet
pyarrow
numba
nltk
scikit-learn
opencv-python
scipy
langdetect
joblib