astroid
streamlit
google-auth
google-auth-oauthlib
jupyterlab
google-api-python-client
bs4
requests
keras
apache-airflow
matplotlib
tensorflow
tensorflow-text
dash
gunicorn
pandasql
Pillow
pytube
pandas
statsmodels
protobuf
streamlit-option-menu
keras
huggingface_hub
numpy
opencv-python
svgwrite
pytz
wordcloud
pycode
panel
IPython
pylint
xgboost 
plotly
seaborn
fastparquet
transformers
pyarrow
numba
nltk
scikit-learn
opencv-python
scipy
joblib